html,body{ width: 100%;height: 100%;display: block;}
*{padding:0; margin: 0; border: 0;}


.box{position:relative;top:5%;width:4368px;height:832px;}
.box img{ position: absolute;width:28px;height:28px;}
.bg{position:absolute;top:50%;left:50%;z-index:50;margin:-416px 0 0 -2184px;width:4368px;height:832px;background:url(../images/bg.png) no-repeat;pointer-events:none;}
.zindex{z-index:60;}

.cir_btn{width:120px;height:120px;-webkit-border-radius:50%;}
.box_list img{width:110px;height:110px;-webkit-border-radius:50%;top:-35%;left:-22%;border:2px solid #5e5677;}/*20150719 jia changes*/
.list_bg{position:absolute;top:50%;left:50%;z-index:50;margin:-416px 0 0 -2184px;width:4368px;height:832px;background:url(../images/bg_list.jpg) no-repeat;pointer-events:none;}
.box li{position:absolute;font-size:60px;color:#fff;z-index:60;list-style: none}
.box .first{left:42%;top:15%;}
.box .second{left:42%;top:31%;}
.box .third{left:42%;top:46%;}
.box .four{left:42%;top:62%;}
.box .five{left:42%;top:77%;}
.box .six{left:72%;top:15%;}
.box .seven{left:72%;top:31%;}
.box .eight{left:72%;top:46%;}
.box .nine{left:72%;top:62%;}
.box .ten{left:72%;top:77%;}
.box_list strong{width:192px;text-align:right;display:inline-block;}
.animated_div{-webkit-animation:animated_div 2.8s linear 1; width: 28px; height: auto !important;-moz-animation:animated_div 2.8s linear 1;-o-animation:animated_div 2.8s linear 1;animation:animated_div 2.8s linear 1;}
@keyframes animated_div
    {
    0%   {opacity: 0.0;transform: scale(1)}
    20%  {opacity: 0.3;transform: scale(3)}
    40%  {opacity: 0.9;transform: scale(6)}
    60%  {opacity: 1.0;transform: scale(6)}
    80%  {opacity: 0.8;transform: scale(3)}
    100%  {opacity:0.2;transform: scale(1)}
    }
@-moz-keyframes animated_div
    {
    0%   {opacity: 0.0;-moz-transform: scale(1)}
    20%  {opacity: 0.3;-moz-transform: scale(3)}
    40%  {opacity: 0.9;-moz-transform: scale(6)}
    60%  {opacity: 1.0;-moz-transform: scale(6)}
    80%  {opacity: 0.8;-moz-transform: scale(3)}
    100%  {opacity:0.2;-moz-transform: scale(1)}
    }
@-webkit-keyframes animated_div
    {
    0%   {opacity: 0.0;-webkit-transform: scale(1)}
    20%  {opacity: 0.3;-webkit-transform: scale(3)}
    40%  {opacity: 0.9;-webkit-transform: scale(6)}
    60%  {opacity: 1.0;-webkit-transform: scale(6)}
    80%  {opacity: 0.8;-webkit-transform: scale(3)}
    100%  {opacity:0.2;-webkit-transform: scale(1)}
    }
@-o-keyframes animated_div
    {
    0%   {opacity: 0.0;transform: scale(1)}
    20%  {opacity: 0.3;transform: scale(3)}
    40%  {opacity: 0.9;transform: scale(6)}
    60%  {opacity: 1.0;transform: scale(6)}
    80%  {opacity: 0.8;transform: scale(3)}
    100%  {opacity:0.2;transform: scale(1)}
    }


