@charset "utf-8";
/******************通用*******************/

#preload{ position: fixed; left: 0; top: 0; right: 0; bottom: 0;background: url(../img/p1.jpg) no-repeat center; background-size: cover; z-index: 99;}

#page_list{overflow: hidden;}
.page > *{ position: absolute;left:50%;top:50%;background-size:contain!important;}
.page{ background:url(../img/bg.jpg) no-repeat center; background-size:100% auto;;}

#music{ position: fixed; right: 10px; top: 10px; z-index: 91; width: 30px; height: 30px; background: url(../img/music_off.png) no-repeat center; background-size: contain;}
#music.on{ background-image: url(../img/music.png);-webkit-animation:rotate 2s infinite linear;animation:rotate 2s infinite linear;}
#drop_down{ position:fixed; display:none; width:25px; left:50%; margin-left:-12px; bottom:20px;-webkit-animation:up_down 1s linear infinite ;}

.logo{ width:109px; height:44px;  margin-left: -55px; background:url(../img/logo.png);}
.icon{ background:url(../img/icon_f.png) no-repeat center; background-size:cover;}
.font_hide{ visibility:hidden;}
/* .page_i{ background:url(../img/CssGaga.png) no-repeat; background-size:auto 211px;} */
/******************page1*******************/
#p1 .logo{margin-left:-128px;margin-top:-185px;top:40%;}
.p1_t{width:195px; height:32px; top:40%;margin-top:-110px;;margin-left:-98px; background:url(../img/p1_t.png) no-repeat center; background-size:contain;}
.p1_p{width:195px; height:39px;margin-top:-95px;top:45%;margin-left:-98px; background:url(../img/p1_p1.png)}
#p1 .icon{width:202px; height:196px;}
.p1_i{width:202px; height:196px;margin-top:-30px;margin-left:-101px; background:url(../img/icon_f.png);}
.p1_point{width:113px; height:53px; pointer-events:none; margin:140px 0 0 15px; background:url(../img/point.png)}
/******************page2*******************/ 
.p2_t{width:235px; height:58px;top:40%;  margin:-30px 0 0 -118px; background:url(../img/p2_t.png);}
.p2_p1{width:227px; height:27px;top:45%  ;margin:30px 0 0 -114px; background:url(../img/p2_p1.png);}
.p2_p2{width:262px; height:50px;  margin:75px 0 0 -131px; background:url(../img/p2_p2.png);}
.p2_p3{width:128px; height:32px;  margin:150px 0 0 -64px; background:url(../img/p2_p3.png);}
.p2_i{top:0; margin:-90px 0 0 -116px;}
#p2 .icon{width:231px; height:224px; -webkit-transform:rotate(180deg);transform:rotate(180deg);}
/******************page3*******************/
.p3_t{top:40% ;width:138px; height:39px; margin:-185px 0 0 -69px; background:url(../img/p3_t.png);}
.p3_list{width:252px; height:111px; overflow:hidden; background-color:#6b1686;top:45%; border:3px solid #fff; margin:-160px 0 0 -129px; border-radius:2px;}
.p3_li{ -webkit-transition:-webkit-transform 200ms;transition:transform 200ms; position:absolute;left:0;top:0; width:252px; height:111px; background-size:cover;-webkit-transform:translate(-100%,0);transform:translate(-100%,0);}
.p3_li.select{-webkit-transform:translate(0,0);transform:translate(0,0);}
.p3_li.select~.p3_li{-webkit-transform:translate(100%,0);transform:translate(100%,0);}
.p3_i{ margin:-55px 0 0 -86px;width:172px; height:197px;background:url(../img/p3_i.png);}
.p3_p{width:128px; height:33px; margin:155px 0 0 -64px; background:url(../img/p3_p.png);}

/******************page4*******************/ 
.p4_t{width:215px;height:41px;top:40%; margin:-185px 0 0 -108px; background:url(../img/p4_t.png)}
.p4_p{width:199px; height:11px; margin:-185px 0 0 -100px; background:url(../img/p4_p1.png)}
.p4_p2{width:117px; height:32px; margin:58px 0 0 -59px; background:url(../img/p4_p2.png)}
.p4_list{margin-top:-65px;}
.p4_list li{ background-size:contain!important;}
.p4_li1{position:absolute;left:-23px;bottom:23px; width:45px;height:74px; margin:0px 0px 0px 0px; background:url(../img/p4_i1.png) no-repeat center top;}
.p4_li2{position:absolute;left:23px;top:-23px; width:75px; height:45px; margin:0px 0px 0px 0px; background:url(../img/p4_i2.png) no-repeat right center;}
.p4_li3{position:absolute;left:-23px;top:23px; width:45px;height:84px; margin:0px 0px 0px 0px; background:url(../img/p4_i3.png) no-repeat center bottom;}
.p4_li4{position:absolute;right:23px;top:-23px; width:75px; height:45px; margin:0px 0px 0px 0px; background:url(../img/p4_i4.png) no-repeat left center;}
.p4_li5{position:absolute;left:-23px;top:-23px; width:45px; height:45px;background:url(../img/p4_i5.png) no-repeat center;}
#p4 .icon{width:231px; height:224px;top:auto; bottom:0; margin:0 0 -75px -116px;}
/******************page5*******************/
.p5_t{width:254px; height:42px;margin:-205px 0 0 -127px; background:url(../img/p1_t.png)}
.p5_p{width:161px; height:33px;margin:-120px 0 0 -81px; background:url(../img/p5_p.png)}
.p5_i{ margin-top:-50px;width:239px;text-align:center; height:232px;margin-left:-120px;background:url(../img/icon_b.png) no-repeat center; background-size:cover;}
.p5_w{ position: absolute;top:50px; left:0;width:100%; font-size:12px; line-height:33px;}
/******************page6*******************/
#p6 .logo{ margin-top:-200px; top:45%;}
.p6_list{border:1px solid #7a3a94; background-color:#6b1686; width:280px; height:205px; margin:-160px 0 0 -140px; font-size:9px;}
.p6_list:before{position:absolute;content:'';left:-1px;top:-1px;right:-1px;bottom:-1px;border:1px dashed #fff;}
.p6_li{ position:relative; margin:4px 0 0 25px; line-height:13px;}
dt.p6_li{ margin-top:8px;}
dd.p6_li:before{ position:absolute;left:-14px; top:2px; content:'';border:2px solid #fff; width:5px; height:5px; background-color:#6b1686; border-radius:50%;}
.p6_line{ position:absolute;left:14px; top:28px; bottom:18px;width:3px; background-color:#fff;}
.p6_i{width:157px; height:153px;margin:75px 0 0 -79px; background:url(../img/p6_i.png)}
/******************page7*******************/
#p7 .logo{margin-top:-225px}
.p7_cnt{left:5px; right:5px; text-align:center; font-size:12px; line-height:26px;margin:-160px 0 0 0px;}
.p7_p{}
.p7_i{width:199px; height:241px;margin:-35px 0 0 -100px; background:url(../img/p7_i.png)}
/******************page8*******************/
#p8 .logo{margin-top:-225px;}
.p8_p{width:243px; height:22px;margin:-128px 0 0 -122px; background:url(../img/p8_p.png)}
.p8_i{left:auto;top:auto;right:-75px;bottom:-75px;-webkit-transform-origin:right bottom; transform-origin:right bottom;}
#p8 .icon{width:350px; height:340px;-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}

@-webkit-keyframes up_down{
	0%{-webkit-transform:translate3d(0,-5px,0); opacity: 0;}
	100%{-webkit-transform:translate3d(0,5px,0); opacity: 1;} 
}
@keyframes up_down{
	0%{transform:translate3d(0,-5px,0); opacity: 0;}
	100%{transform:translate3d(0,5px,0); opacity: 1;} 
}

