@charset "utf-8";
/******************通用*******************/
html,body{-webkit-tap-highlight-color:rgba(0,0,0,0);color:#fff;font:12px/1.6 "微软雅黑",Helvetica;margin:0;padding:0;-webkit-user-select:none;width:100%;height:100%;}
form,table,td,h1,h2,h3,h4,ul,ol,li,p,dt,dd{margin:0;padding:0;border:0;list-style:none}
input,img{vertical-align:middle}
html,body{min-width:100%;}
body{-webkit-text-size-adjust:none;}
img{border:0 none;max-width:100%;height:auto;}
ol,ul{list-style:none;}
:focus{outline:0;}
textarea{resize:none;overflow:auto;}
a{-webkit-touch-callout:none;-webkit-user-select:none;text-decoration:none}
a:link {-webkit-tap-highlight-color:rgba(229,59,44,0.4)}
table{border-collapse: collapse;border-spacing: 0;}
input:focus,textarea:focus{outline:0}
#wrap{width:100%;height:100%;overflow-x:hidden;}
#page_list{width:100%;height:100%; -webkit-transition:all ease-out 1s;transition:all ease-out 1s;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-perspective: 1200px;perspective: 1200px;}
#page_list > .page{ width:100%;height: 100%;background-position: center; overflow: hidden; background-repeat: no-repeat; background-size:cover; z-index: 9; background-color: #fff; -webkit-transition:all ease-in-out .5s;transition:all ease-in-out .5s;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-perspective: 1200px;perspective: 1200px;}
#page_list.draw > .page,
#page_list.card > .page,
#page_list.rotat> .page,
#page_list.wind > .page,
#page_list.jump > .page,
#page_list.banner > .page,
#page_list.book > .page{ position:absolute; left: 0;top:0;}
#page_list.line > .page,
#page_list.normal>.page{ position:relative;}
#page_list 		> .page.show{z-index: 99;}
/*跳转式*/
#page_list.jump  > .page{-webkit-transform:translate(0,-100%);transform:translate(0,-100%);}
#page_list.jump  > .page.show{ -webkit-transform:translateZ(0);transform:translateZ(0);}
#page_list.jump  > .page.show ~ .page{ -webkit-transform:translate(0,100%);transform:translate(0,100%);}
/*抽取卡片式*/
#page_list.draw  > .page{-webkit-transform:translate(0,-416px);transform:translate(0,-416px); opacity: 0}
#page_list.draw  > .page.show{-webkit-transform:translateZ(0);transform:translateZ(0); opacity: 1;}
#page_list.draw  > .page.show ~ .page{ -webkit-transform:translate(0,0);transform:translate(0,0); opacity: 1;}


.page > .page_body{ width: 415px; height : 540px; left: 50%; top: 50%; margin-left:-207.5px; margin-top: -270px;background-position: center; background-repeat: no-repeat; background-size:cover;}
.page_bg{ position: absolute; top:0;right:0;bottom:0;left:0; background:no-repeat center; background-size:cover;}
.page_body{position: absolute;-webkit-box-sizing:border-box;box-sizing:border-box;}
.page_body > img{ position: absolute;}

/***********************出场效果**********************/
.out-biter_rotate{-webkit-transform:rotate(30deg);}

.out-left	{-webkit-transform:translate(-90px,0);transform:translate(-90px,0);}
.out-right 	{-webkit-transform:translate(90px,0);transform:translate(90px,0);}
.out-top	{-webkit-transform:translate(0,-90px);transform:translate(0,-90px);}
.out-bottom	{-webkit-transform:translate(0,90px);transform:translate(0,90px);}
.out-rotate	{-webkit-transform:scale(0.1) rotate(180deg);transform:scale(0.1) rotate(180deg);}
.out-rotateY{-webkit-transform:rotateY(90deg);transform:rotateY(90deg);}

.out-more_left	{-webkit-transform:translate(-180px,0);transform:translate(-180px,0);}
.out-more_right	{-webkit-transform:translate(180px,0);transform:translate(180px,0);}
.out-more_top	{-webkit-transform:translate(0,-180px);transform:translate(0,-180px);}
.out-more_bottom{-webkit-transform:translate(0,180px);transform:translate(0,180px);}
.out-more_rotat {-webkit-transform:scale(0.1) rotate(-1800deg);transform:scale(0.1) rotate(-1800deg);}


.out-big	{-webkit-transform:scale(5);transform:scale(5);}
.out-small  {-webkit-transform:scale(.1);transform:scale(.1);}
.out-opacity{opacity: 0;}
/***********************入场效果**********************/
/*设置动作时间*/
#wrap .quicker	{-webkit-animation-duration:.3s;animation-duration:.3s;}
#wrap .quick	{-webkit-animation-duration:.6s;animation-duration:.6s;}
#wrap .nomorl	{-webkit-animation-duration:.9s;animation-duration:.9s;}
#wrap .slow		{-webkit-animation-duration:1.2s;animation-duration:1.2s;}
#wrap .slower	{-webkit-animation-duration:1.8s;animation-duration:1.8s;}
/*设置延迟时间*/
[delay],[touch-delay]{-webkit-transition: all .5s ease-in-out;transition: all .5s ease-in-out;opacity: 0;}
/*设置动画函数*/
.fun_1{animation-timing-function:cubic-bezier();}
.active{-webkit-transform:translateZ(0); opacity: 1;}
/***********************循环动画**********************/
.active_shake.active{-webkit-animation:rotateZ .5s linear infinite;animation:rotateZ .5s linear infinite;}
.active_beat.active {-webkit-animation:big 1s linear infinite;animation:big 1s linear infinite;}
.active_drop_down.active{-webkit-animation:down-m 1s linear infinite;animation:down-m 1s linear infinite;}
.active_rotate.active{-webkit-animation:rotate 5s linear infinite;animation:rotate 5s linear infinite;}
/************动画***********/
.active_left.active {-webkit-animation:left .3s linear backwards;animation:left .3s linear backwards;}
.active_right.active{-webkit-animation:right .3s linear backwards;animation:right .3s linear backwards;}
.active_up.active	{-webkit-animation:up .3s linear backwards;animation:up .3s linear backwards;}
.active_down.active {-webkit-animation:down .3s linear backwards;animation:down .3s linear backwards;}

/************动画动作***********/
/* 小位移 */
@-webkit-keyframes down-m {
	0%{-webkit-transform:translate(0,-20px);opacity: 0;}
	100%{-webkit-transform:translate(0,0);}
}
@keyframes down-m {
	0%{transform:translate(0,-20px);opacity: 0;}
	100%{transform:translate(0,0);}
}
/* 位移 */
@-webkit-keyframes down {
	0%{-webkit-transform:translate(0,-90px);opacity: 0;}
	100%{-webkit-transform:translate(0,0);}
}
@-webkit-keyframes up 	{
	0%{-webkit-transform:translate(0,90px);opacity: 0;}
	100%{-webkit-transform:translate(0,0);}
}
@-webkit-keyframes left {
	0%{-webkit-transform:translate(45px,0);opacity: 0;}
	100%{-webkit-transform:translate(0,0);}
}
@-webkit-keyframes right{
	0%{-webkit-transform:translate(-45px,0);opacity: 0;}
	100%{-webkit-transform:translate(0,0);}
}
@keyframes down {
	0%{transform:translate(0,-90px);opacity: 0;}
	100%{transform:translate(0,0);}
}
@keyframes up 	{
	0%{transform:translate(0,90px);opacity: 0;}
	100%{transform:translate(0,0);}
}
@keyframes left {
	0%{transform:translate(45px,0);opacity: 0;}
	100%{transform:translate(0,0);}
}
@keyframes right{
	0%{transform:translate(-45px,0);opacity: 0;}
	100%{transform:translate(0,0);}
}
/* 长位移 */
@-webkit-keyframes down-l {
	0%{-webkit-transform:translate(0,-360px);opacity: 0;}
	100%{-webkit-transform:translate(0,0);}
}
@-webkit-keyframes up-l   {
	0%{-webkit-transform:translate(0,360px);opacity: 0;}
	100%{-webkit-transform:translate(0,0);}
}
@-webkit-keyframes left-l {
	0%{-webkit-transform:translate(180px,0);opacity: 0;}
	100%{-webkit-transform:translate(0,0);}
}
@-webkit-keyframes right-l{
	0%{-webkit-transform:translate(-180px,0);opacity: 0;}
	100%{-webkit-transform:translate(0,0);}
}
@keyframes down-l {
	0%{transform:translate(0,-360px);opacity: 0;}
	100%{transform:translate(0,0);}
}
@keyframes up-l   {
	0%{transform:translate(0,360px);opacity: 0;}
	100%{transform:translate(0,0);}
}
@keyframes left-l {
	0%{transform:translate(180px,0);opacity: 0;}
	100%{transform:translate(0,0);}
}
@keyframes right-l{
	0%{transform:translate(-180px,0);opacity: 0;}
	100%{transform:translate(0,0);}
}
/******* 缩放 *******/
/* 放大 */
@-webkit-keyframes big	 {
	0%{-webkit-transform:scale(1.2);}
	100%{-webkit-transform:scale(1);}
}
@-webkit-keyframes big-l {
	0%{-webkit-transform:scale(2);}
	100%{-webkit-transform:scale(1);}
}
@-webkit-keyframes big-x {
	0%{-webkit-transform:scale(5);}
	100%{-webkit-transform:scale(1);}
}
@keyframes big 	{
	0%{transform:scale(1.2);}
	100%{transform:scale(1);}
}
@keyframes big-l{
	0%{transform:scale(2);}
	100%{transform:scale(1);}
}
@keyframes big-x{
	0%{transform:scale(5);}
	100%{transform:scale(1);}
}
/* 缩小 */
@-webkit-keyframes small-l{
	0%{-webkit-transform:scale(.01);}
	100%{-webkit-transform:scale(1);}
}

@-webkit-keyframes small  {
	0%{-webkit-transform:scale(.8);}
	100%{-webkit-transform:scale(1);}
}
@keyframes small-l{
	0%{transform:scale(.01);}
	100%{transform:scale(1);}
}
@keyframes small  {
	0%{transform:scale(.8);}
	100%{transform:scale(1);}
}
/******* 旋转 *******/
/* X轴旋转 */
@-webkit-keyframes rotateX  {
	0%{-webkit-transform:rotateX(0deg);}
	25%{-webkit-transform:rotateX(10deg);}
	50%{-webkit-transform:rotateX(0deg);}
	75%{-webkit-transform:rotateX(-10deg);}
	100%{-webkit-transform:rotateX(0deg);}
}
@-webkit-keyframes rotateX-l{
	0%{-webkit-transform:rotateX(0deg);}
	25%{-webkit-transform:rotateX(30deg);}
	50%{-webkit-transform:rotateX(0deg);}
	75%{-webkit-transform:rotateX(-30deg);}
	100%{-webkit-transform:rotateX(0deg);}
}
@-webkit-keyframes rotateX-x{
	0%{-webkit-transform:rotateX(0deg);}
	25%{-webkit-transform:rotateX(90deg);}
	50%{-webkit-transform:rotateX(0deg);}
	75%{-webkit-transform:rotateX(-90deg);}
	100%{-webkit-transform:rotateX(0deg);}
}
@keyframes rotateX  {
	0%{transform:rotateX(0deg);}
	25%{transform:rotateX(10deg);}
	50%{transform:rotateX(0deg);}
	75%{transform:rotateX(-10deg);}
	100%{transform:rotateX(0deg);}
}
@keyframes rotateX-l{
	0%{transform:rotateX(0deg);}
	25%{transform:rotateX(30deg);}
	50%{transform:rotateX(0deg);}
	75%{transform:rotateX(-30deg);}
	100%{transform:rotateX(0deg);}
}
@keyframes rotateX-x{
	0%{transform:rotateX(0deg);}
	25%{transform:rotateX(90deg);}
	50%{transform:rotateX(0deg);}
	75%{transform:rotateX(-90deg);}
	100%{transform:rotateX(0deg);}
}
/* Y轴旋转 */
@-webkit-keyframes rotateY  {
	0%{-webkit-transform:rotateY(0deg);}
	25%{-webkit-transform:rotateY(10deg);}
	50%{-webkit-transform:rotateY(0deg);}
	75%{-webkit-transform:rotateY(-10deg);}
	100%{-webkit-transform:rotateY(0deg);}
}
@-webkit-keyframes rotateY-l{
	0%{-webkit-transform:rotateY(0deg);}
	25%{-webkit-transform:rotateY(30deg);}
	50%{-webkit-transform:rotateY(0deg);}
	75%{-webkit-transform:rotateY(-30deg);}
	100%{-webkit-transform:rotateY(0deg);}
}
@-webkit-keyframes rotateY-x{
	0%{-webkit-transform:rotateY(0deg);}
	25%{-webkit-transform:rotateY(90deg);}
	50%{-webkit-transform:rotateY(0deg);}
	75%{-webkit-transform:rotateY(-90deg);}
	100%{-webkit-transform:rotateY(0deg);}
}
@keyframes rotateY  {
	0%{transform:rotateY(0deg);}
	25%{transform:rotateY(10deg);}
	50%{transform:rotateY(0deg);}
	75%{transform:rotateY(-10deg);}
	100%{transform:rotateY(0deg);}
}
@keyframes rotateY-l{
	0%{transform:rotateY(0deg);}
	25%{transform:rotateY(30deg);}
	50%{transform:rotateY(0deg);}
	75%{transform:rotateY(-30deg);}
	100%{transform:rotateY(0deg);}
}
@keyframes rotateY-x{
	0%{transform:rotateY(0deg);}
	25%{transform:rotateY(90deg);}
	50%{transform:rotateY(0deg);}
	75%{transform:rotateY(-90deg);}
	100%{transform:rotateY(0deg);}
}
/* Z轴旋转 */
@-webkit-keyframes rotateZ  {
	0%{-webkit-transform:rotateZ(0deg);}
	25%{-webkit-transform:rotateZ(10deg);}
	50%{-webkit-transform:rotateZ(0deg);}
	75%{-webkit-transform:rotateZ(-10deg);}
	100%{-webkit-transform:rotateZ(0deg);}
}
@-webkit-keyframes rotateZ-l{
	0%{-webkit-transform:rotateZ(0deg);}
	25%{-webkit-transform:rotateZ(30deg);}
	50%{-webkit-transform:rotateZ(0deg);}
	75%{-webkit-transform:rotateZ(-30deg);}
	100%{-webkit-transform:rotateZ(0deg);}
}
@-webkit-keyframes rotateZ-x{
	0%{-webkit-transform:rotateZ(0deg);}
	25%{-webkit-transform:rotateZ(90deg);}
	50%{-webkit-transform:rotateZ(0deg);}
	75%{-webkit-transform:rotateZ(-90deg);}
	100%{-webkit-transform:rotateZ(0deg);}
}
@keyframes rotateZ  {
	0%{transform:rotateZ(0deg);}
	25%{transform:rotateZ(10deg);}
	50%{transform:rotateZ(0deg);}
	75%{transform:rotateZ(-10deg);}
	100%{transform:rotateZ(0deg);}
}
@keyframes rotateZ-l{
	0%{transform:rotateZ(0deg);}
	25%{transform:rotateZ(30deg);}
	50%{transform:rotateZ(0deg);}
	75%{transform:rotateZ(-30deg);}
	100%{transform:rotateZ(0deg);}
}
@keyframes rotateZ-x{
	0%{transform:rotateZ(0deg);}
	25%{transform:rotateZ(90deg);}
	50%{transform:rotateZ(0deg);}
	75%{transform:rotateZ(-90deg);}
	100%{transform:rotateZ(0deg);}
}
@-webkit-keyframes rotate{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(-360deg);}
}
@keyframes rotate{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(-360deg);}
}
/******* 扭曲 *******/
/* X轴扭曲 */
/* Y轴扭曲 */
/* Z轴扭曲 */
/******* 透明 *******/
@-webkit-keyframes opacity {
	0%{ opacity:0}
	100%{ opacity:1}
}
@-webkit-keyframes more_opacity{
	0%{ opacity:.5}
	100%{ opacity:1}
}
@-webkit-keyframes most_opacity{
	0%{ opacity:.8}
	100%{ opacity:1}
}
@keyframes opacity{
	0%{ opacity:0}
	100%{ opacity:1}
}
@keyframes more_opacity{
	0%{ opacity:.5}
	100%{ opacity:1}
}
@keyframes most_opacity{
	0%{ opacity:.8}
	100%{ opacity:1}
}

#preload{position:fixed;left:0;top:0;right:0;bottom:0;background:url(../img/p1.jpg) no-repeat center;background-size:cover;z-index:99}#page_list{overflow:hidden}.page>*{position:absolute;left:50%;top:50%;background-size:contain !important}.page{background:url(../img/bg.jpg) no-repeat center;background-size:100% auto}#music{position:fixed;right:10px;top:10px;z-index:91;width:30px;height:30px;background:url(../img/music_off.png) no-repeat center;background-size:contain}#music.on{background-image:url(../img/music.png);-webkit-animation:rotate 2s infinite linear;animation:rotate 2s infinite linear}#drop_down{position:fixed;display:none;width:25px;left:50%;margin-left:-12px;bottom:20px;-webkit-animation:up_down 1s linear infinite}.logo{width:109px;height:44px;margin-left:-55px;background:url(../img/logo.png)}.icon{background:url(../img/icon_f.png) no-repeat center;background-size:cover}.font_hide{visibility:hidden}#p1 .logo{margin-left:-128px;margin-top:-185px;top:40%}.p1_t{width:195px;height:32px;top:40%;margin-top:-110px;margin-left:-98px;background:url(../img/p1_t.png) no-repeat center;background-size:contain}.p1_p{width:195px;height:39px;margin-top:-95px;top:45%;margin-left:-98px;background:url(../img/p1_p1.png)}#p1 .icon{width:202px;height:196px}.p1_i{width:202px;height:196px;margin-top:-30px;margin-left:-101px;background:url(../img/icon_f.png)}.p1_point{width:113px;height:53px;pointer-events:none;margin:140px 0 0 15px;background:url(../img/point.png)}.p2_t{width:235px;height:58px;top:40%;margin:-30px 0 0 -118px;background:url(../img/p2_t.png)}.p2_p1{width:227px;height:27px;top:45%;margin:30px 0 0 -114px;background:url(../img/p2_p1.png)}.p2_p2{width:262px;height:50px;margin:75px 0 0 -131px;background:url(../img/p2_p2.png)}.p2_p3{width:128px;height:32px;margin:150px 0 0 -64px;background:url(../img/p2_p3.png)}.p2_i{top:0;margin:-90px 0 0 -116px}#p2 .icon{width:231px;height:224px;-webkit-transform:rotate(180deg);transform:rotate(180deg)}.p3_t{top:40%;width:138px;height:39px;margin:-185px 0 0 -69px;background:url(../img/p3_t.png)}.p3_list{width:252px;height:111px;overflow:hidden;background-color:#6b1686;top:45%;border:3px solid #fff;margin:-160px 0 0 -129px;border-radius:2px}.p3_li{-webkit-transition:-webkit-transform 200ms;transition:transform 200ms;position:absolute;left:0;top:0;width:252px;height:111px;background-size:cover;-webkit-transform:translate(-100%, 0);transform:translate(-100%, 0)}.p3_li.select{-webkit-transform:translate(0, 0);transform:translate(0, 0)}.p3_li.select ~ .p3_li{-webkit-transform:translate(100%, 0);transform:translate(100%, 0)}.p3_i{margin:-55px 0 0 -86px;width:172px;height:197px;background:url(../img/p3_i.png)}.p3_p{width:128px;height:33px;margin:155px 0 0 -64px;background:url(../img/p3_p.png)}.p4_t{width:215px;height:41px;top:40%;margin:-185px 0 0 -108px;background:url(../img/p4_t.png)}.p4_p{width:199px;height:11px;margin:-185px 0 0 -100px;background:url(../img/p4_p1.png)}.p4_p2{width:117px;height:32px;margin:58px 0 0 -59px;background:url(../img/p4_p2.png)}.p4_list{margin-top:-65px}.p4_list li{background-size:contain !important}.p4_li1{position:absolute;left:-23px;bottom:23px;width:45px;height:74px;margin:0px 0px 0px 0px;background:url(../img/p4_i1.png) no-repeat center top}.p4_li2{position:absolute;left:23px;top:-23px;width:75px;height:45px;margin:0px 0px 0px 0px;background:url(../img/p4_i2.png) no-repeat right center}.p4_li3{position:absolute;left:-23px;top:23px;width:45px;height:84px;margin:0px 0px 0px 0px;background:url(../img/p4_i3.png) no-repeat center bottom}.p4_li4{position:absolute;right:23px;top:-23px;width:75px;height:45px;margin:0px 0px 0px 0px;background:url(../img/p4_i4.png) no-repeat left center}.p4_li5{position:absolute;left:-23px;top:-23px;width:45px;height:45px;background:url(../img/p4_i5.png) no-repeat center}#p4 .icon{width:231px;height:224px;top:auto;bottom:0;margin:0 0 -75px -116px}.p5_t{width:254px;height:42px;margin:-205px 0 0 -127px;background:url(../img/p1_t.png)}.p5_p{width:161px;height:33px;margin:-120px 0 0 -81px;background:url(../img/p5_p.png)}.p5_i{margin-top:-50px;width:239px;text-align:center;height:232px;margin-left:-120px;background:url(../img/icon_b.png) no-repeat center;background-size:cover}.p5_w{position:absolute;top:50px;left:0;width:100%;font-size:12px;line-height:33px}#p6 .logo{margin-top:-200px;top:45%}.p6_list{border:1px solid #7a3a94;background-color:#6b1686;width:280px;height:205px;margin:-160px 0 0 -140px;font-size:9px}.p6_list:before{position:absolute;content:'';left:-1px;top:-1px;right:-1px;bottom:-1px;border:1px dashed #fff}.p6_li{position:relative;margin:4px 0 0 25px;line-height:13px}dt.p6_li{margin-top:8px}dd.p6_li:before{position:absolute;left:-14px;top:2px;content:'';border:2px solid #fff;width:5px;height:5px;background-color:#6b1686;border-radius:50%}.p6_line{position:absolute;left:14px;top:28px;bottom:18px;width:3px;background-color:#fff}.p6_i{width:157px;height:153px;margin:75px 0 0 -79px;background:url(../img/p6_i.png)}#p7 .logo{margin-top:-225px}.p7_cnt{left:5px;right:5px;text-align:center;font-size:12px;line-height:26px;margin:-160px 0 0 0px}.p7_i{width:199px;height:241px;margin:-35px 0 0 -100px;background:url(../img/p7_i.png)}#p8 .logo{margin-top:-225px}.p8_p{width:243px;height:22px;margin:-128px 0 0 -122px;background:url(../img/p8_p.png)}.p8_i{left:auto;top:auto;right:-75px;bottom:-75px;-webkit-transform-origin:right bottom;transform-origin:right bottom}#p8 .icon{width:350px;height:340px;-webkit-transform:rotate(-30deg);transform:rotate(-30deg)}@-webkit-keyframes up_down{0%{-webkit-transform:translate3d(0, -5px, 0);opacity:0}100%{-webkit-transform:translate3d(0, 5px, 0);opacity:1}}@keyframes up_down{0%{transform:translate3d(0, -5px, 0);opacity:0}100%{transform:translate3d(0, 5px, 0);opacity:1}}
