/*全局样式*/
html,body{-webkit-tap-highlight-color:rgba(0,0,0,0);color:#302e31;font:13px "微软雅黑",Helvetica;font-size:13px;line-height:160%;margin:0;padding:0;-webkit-user-select:none;}
form,table,td,h1,h2,h3,h4,ul,ol,li,p{margin:0;padding:0;border:0;list-style:none}
input,img{vertical-align:middle}
html,body{min-width:100%; height:100%;}
body{-webkit-text-size-adjust:none;background:url(../img/bg.jpg) no-repeat;background-size:cover;}
img{border:0 none;max-width: 100%;height: auto;}
ol, ul {list-style: none;}
:focus {outline: 0;}
textarea{resize:none;overflow:auto;}
a{-webkit-touch-callout:none;-webkit-user-select:none;text-decoration:none}
a:link {-webkit-tap-highlight-color:rgba(229, 59, 44, 0.4)}
a,a:link,a:visited,a:hover,a:active{ color:inherit; text-decoration:none;} 
table {border-collapse: collapse;border-spacing: 0;}
input:focus,textarea:focus{outline:0}
/*公共样式*/ 
#wrap{width:100%;height:100%;}
.logo{width:67px;height:27px;margin-top:28px;margin-left:38px;}
.enroll_tit{background:url(../img/bm_tit.png) no-repeat;width:57px;height:24px;margin:34px auto 32px;text-indent:-9999px;background-size:57px auto;}
.enroll_main{width:228px;margin:0 auto;height:auto;overflow:hidden;}
.enroll_main input{width:-webkit-calc(100% - 20px);border:none;background: rgba(255,255,255,0.6);height:14px;padding:10px;
margin-bottom:10px;color:#000;-webkit-border-radius:3px;}
input::-webkit-input-placeholder{ color: #fff;font-size:12px;}
.upload_photo,.upload_company{width:100%;height:110px;background: rgba(255,255,255,0.6);position:relative;margin-bottom:10px;-webkit-border-radius:3px;}
.photo_pic{width:149px;height:92px;position:absolute;left:50%;margin-left:-74px;top:10px;z-index:2;}
.upload_photo p{font-size:12px;color:#D53401;text-align:center;position:absolute;z-index:3;left:50%;margin-left:-30px;top:40px;}
.upload_photo p:after{content:"+";font-size:14px;color:#D53401;position:absolute;top:16px;left:23px;}
.complay_pic{width:161px;height:96px;position:absolute;left:50%;margin-left:-80px;top:6px;z-index:2;}
.upload_company{margin-bottom:16px;}
.upload_company p{font-size:12px;color:#D53401;text-align:center;position:absolute;z-index:3;left:50%;margin-left:-36px;top:40px;}
.upload_company p:after{content:"+";font-size:14px;color:#D53401;position:absolute;top:16px;left:30px;}
.ok_offer{width:116px;height:32px;background:#fff;display:block;color:#C20D0B;font-size:13px;text-align:center;line-height:32px;
-webkit-border-radius:4px;margin:0 auto 14px;}
.detail{font-size:12px;color:#fff;line-height:20px;}
.detail a{color:#fff;text-decoration:none;}
.p4_tu{width:269px;height:42px;margin:12px auto 8px;display:block;}
.power_by{width:100%;color:#fff;font-family:'微软雅黑';font-size:12px;text-align: center;padding-bottom:4px;}
/*弹出框*/
.mask{position:fixed;left:0px;right:0px;top:0px;bottom:0px;background:rgba(0,0,0,.6);z-index:999;display:none;}
.rule{ position: absolute; left: 50%; top: 50%; margin-left:-43%; margin-top: -83px; height:166px;width:86%;text-align:center;background:#fff;-webkit-border-radius:3px;}
.success_block,.info_block{width:252px;margin:10px auto;height:auto;overflow:hidden;}
.success_block h3{text-indent:-9999px;background:url(../img/diag_1.png) no-repeat;width:185px;height:21px;display:block;background-size:185px auto;margin:10px auto;}
.success_block p{text-align:left;color:#EF2A00;font-size:12px;}
.success_block a,.info_block a{width:115px;height:30px;line-height:30px;color:#fff;background:#EF2A00;display:block;margin:10px auto;-webkit-border-radius:3px;}
.info_block h3{text-indent:-9999px;background:url(../img/diag_2.png) no-repeat;width:162px;height:21px;display:block;background-size:162px auto;margin:50px auto 14px;}