@charset "utf-8";
/******************通用*******************/
html,body{-webkit-tap-highlight-color:rgba(0,0,0,0);color:#fff;font:13px/1.6 "微软雅黑",Helvetica;margin:0;padding:0;-webkit-user-select:none;width:100%;height:100%;}
form,table,td,h1,h2,h3,h4,ul,ol,li,p{margin:0;padding:0;border:0;list-style:none}
input,img{vertical-align:middle}
html,body{min-width:100%;}
body{-webkit-text-size-adjust:none;}
img{border:0 none;max-width:100%;height:auto;}
ol,ul{list-style:none;}
:focus{outline:0;}
textarea{resize:none;overflow:auto;}
a{-webkit-touch-callout:none;-webkit-user-select:none;text-decoration:none}
a:link {-webkit-tap-highlight-color:rgba(229,59,44,0.4)}
table{border-collapse: collapse;border-spacing: 0;}
input:focus,textarea:focus{outline:0}
a:link,a:visited,a:hover,a:active{color:inherit;}

.line_top:before{content: "";position: absolute; width: 288px; height: 70px; left: 50%; top: 50%; margin-left: -144px; margin-top: -320px; background: url(../img/line_top.png) no-repeat center; background-size: contain;}
.logo:before{content: ""; position: absolute; width: 106px; height: 17px; top: 20px; left: 20px; background: url(../img/logo1.png) no-repeat center; background-size: contain;}
.light:after{content: ""; position: absolute; left: 50%; margin-left: -106px; bottom: -20px; width: 212px; height: 41px; background: url(../img/light.png) no-repeat center; background-size: contain;}
.jd_icon{width: 122px; height: 117px;}
.st_icon{ position: absolute; width: 76px; height: 88px; right: 20px; top: 50%; margin-top: 110px; background-size: contain;}
.st_icon:after{ position: absolute; left: 0; right: 10px; text-align: center; margin-top: 95px; font:bold 16px "宋体";color: #74e9ff;}
#drop_down{ position: fixed;width:40px; height: 40px;left: 50%; margin-left: -20px; bottom: 20px;}
#music{ position: fixed; right: 20px; top: 20px; z-index: 91; width: 30px; height: 30px; background: url(../img/music_off.png) no-repeat center; background-size: contain;}
#music.on{ background-image: url(../img/music.png);-webkit-animation:rotate 2s infinite linear;animation:rotate 2s infinite linear;}
/******************page1*******************/
#wrap #page1{ background-image: url(../img/p1.jpg); background-position: top center;}
.p1_t1,.p1_t2,.p1_t3,.p1_t4{ -webkit-transform-origin:right top;transform-origin:right top;}
.p1_t1{ position: absolute;right: 163px; top: 10px;width:131px; height: 93px; background: url(../img/p1_t1.png) no-repeat center; background-size: cover;}
.p1_t2{ position: absolute;right: 201px; top: 116px;width:96px; height: 91px; background: url(../img/p1_t2.png) no-repeat center; background-size: cover;}
.p1_t3{ position: absolute;right: 172px; top: 211px;width:109px; height: 96px; background: url(../img/p1_t3.png) no-repeat center; background-size: cover;}
.p1_t4{ position: absolute;right: 80px; top: 255px;width:34px; height: 116px; background: url(../img/p1_t4.png) no-repeat center; background-size: cover;}
.p1_btn{ position: absolute; bottom: 50%; margin-bottom: -260px; right: 20px ;width:121px; height: 113px;}
#page1 .jd_icon{ top: 50%; left: 15px; margin-top: 115px;-webkit-transform:translate(-150px,120px);transform:translate(-150px,120px);}
.p1_t1.light:after{ margin-left: -142px; bottom: -25px;}
.p1_t2.light:after{ margin-left: -110px; bottom: -25px;}
.p1_t3.light:after{ margin-left: -121px; bottom: -25px;}
.p1_t4.light:after{ margin-left: -110px; bottom: -25px;}
.p1_touch1{ position: absolute; right: 84px; top: 0; width: 80px; height: 40px;}
.p1_touch2{ position: absolute; right: 160px; top: 53px; width: 38px; height: 88px;}
.p1_touch3{ position: absolute; right: 137px; top: 150px; width: 40px; height: 80px; transform:rotate(-39deg);-webkit-transform:rotate(-39deg);}
.p1_touch4{ position: absolute; right: 30px; top: 209px; width: 85px; height: 44px;}
.p1_touch5{ position: absolute; right: 0px; top: 52px; width: 140px; height: 126px;}

.p1_point{ position: absolute;width: 52px;height: 83px; background: url(../img/point.png) no-repeat center; background-size: contain;
	-webkit-transition:right 500ms,top 500ms;transition:right 500ms,top 500ms;
}
.p1_point[step='0']{ right: 75px; top: 25px}
.p1_point[step='1']{ right: 125px; top: 115px}
.p1_point[step='2']{ right: 100px; top: 200px}
.p1_point[step='3']{ right: 15px; top: 230px}
.p1_point[step='4']{ right: 20px; top: 140px}
/******************page2*******************/ 
#page2{ background-image: url(../img/p2.jpg);}
.p2_tit{ width: 236px; height: 69px; left: 50%; top: 50%; margin-left: -118px; margin-top: -36px;}
#page2 .jd_icon{right: 10px; top: 50%; margin-top: -145px;
	-webkit-transform:translate(-320px,220px);transform:translate(-320px,220px);
}
/******************page3*******************/
#page3{ background-image: url(../img/p3.jpg);}
.p3_i{ position: absolute;width: 76px; height: 88px;left: 50%; top: 50%; background: no-repeat center; background-size: contain;}
.p3_i:hover:before{ position: absolute; margin-left: -45px; z-index: -1; opacity: 0.7; content:""; width:171px; height:143px; background: url(../img/icon-s.png) no-repeat center; background-size: contain;}
.p3_i1{ background-image: url(../img/icon1.png); margin-left: -100px; margin-top: -90px;}
.p3_i2{ background-image: url(../img/icon2.png); margin-left: 20px; margin-top: -90px;}
.p3_i3{ background-image: url(../img/icon3.png); margin-left: -80px; margin-top: 30px;}
.p3_i4{ background-image: url(../img/icon4.png); margin-left: 40px; margin-top: 30px;}
.p3_t1,.p3_t2,.p3_t3,.p3_t4{ position: absolute; left: 50%; top: 50%; font-size: 16px;}
.p3_t1{ margin-left: -90px; margin-top: -105px;}
.p3_t2{ margin-left: 30px; margin-top: -105px;}
.p3_t3{ margin-left: -70px; margin-top: 15px;}
.p3_t4{ margin-left: 50px; margin-top: 15px;}

#page3 .jd_icon{right: 30px; top: 50%; margin-top: 160px;
	-webkit-transform:translate(0,220px);transform:translate(0,220px);
}
/******************page4*******************/ 
#page4{ background:url(../img/line1.png) no-repeat center,url(../img/p3.jpg) no-repeat center; background-size: cover, cover;}
#page5{ background:url(../img/line2.png) no-repeat center,url(../img/p3.jpg) no-repeat center; background-size: cover, cover; font-size: 14px; color: #44ddfd;}
#page6{ background:url(../img/line3.png) no-repeat center,url(../img/p3.jpg) no-repeat center; background-size: cover, cover; font-size: 14px; color: #44ddfd;}
#page7{ background:url(../img/line2.png) no-repeat center,url(../img/p3.jpg) no-repeat center; background-size: cover, cover; font-size: 14px; color: #44ddfd;}


.p4_b,.p7_b{ position: absolute; left: 50%; top: 50%; width:88px; height: 25px; background: url(../img/p4_b.png) no-repeat center; background-size: contain;}
.p4_b1{ margin-left: -40px; margin-top: -80px;}
.p4_b2{ margin-left: -70px; margin-top: -15px;}
.p4_b3{ margin-left: -130px; margin-top: 35px;}
.p4_b4{ margin-left: -85px; margin-top: 110px;}

.p4_t{ position: absolute; top: 7px; left: 0; width: 100%; height: 27px; background: no-repeat center; background-size: auto 100%;}
.p4_b1 .p4_t{ background-image: url(../img/p4_t1.png);}
.p4_b2 .p4_t{ background-image: url(../img/p4_t2.png);}
.p4_b3 .p4_t{ background-image: url(../img/p4_t3.png);}
.p4_b4 .p4_t{ background-image: url(../img/p4_t4.png);}

#page4 .jd_icon{left: 30px; top: 30%; margin-top: -124px;-webkit-transform:translate(-180px,60px);transform:translate(-180px,60px);}

#page4 .st_icon{ background-image: url(../img/icon1.png)}
#page4 .st_icon:after{content: '办公通'}
#page5 .st_icon{ background-image: url(../img/icon2.png)}
#page5 .st_icon:after{content: '积分通'}
#page6 .st_icon{ background-image: url(../img/icon3.png)}
#page6 .st_icon:after{content: '乐采通'}
#page7 .st_icon{ background-image: url(../img/icon4.png)}
#page7 .st_icon:after{content: '兑换通'}
/******************page5*******************/
.p5_t1,.p5_t2,.p5_t3,.p5_t4{position: absolute; left: 50%; top: 50%;}
.p5_t1{ margin:-100px 0 0 -85px;}
.p5_t2{ margin:-52px 0 0 -95px;}
.p5_t3{ margin:37px 0 0 -142px;}
.p5_t4{ margin:100px 0 0 -136px;}
#page5 .jd_icon{right: 30px; top: 30%; margin-top: -132px;
	-webkit-transform:translate(180px,-120px);transform:translate(180px,-120px);
}

/******************page6*******************/
.p6_t1,.p6_t2,.p6_t3,.p6_t4,.p6_tit{position: absolute; left: 50%; top: 50%;}
.p6_tit{margin:-85px 0 0 -85px; font-size: 35px;}
.p6_t1{ margin:-210px 0 0 -130px; font-size: 16px;}
.p6_t2{ margin:-143px 0 0 -132px; font-size: 16px;}
.p6_t3{ margin:-7px 0 0 -130px; font-size: 16px;}
.p6_t4{ margin:90px 0 0 -130px; font-size: 13px;}
/******************page7*******************/
.p7_b1 .p7_t{ width: 100%; height: 100%;}
.p7_t{position: absolute; top: 0; left: 0; width: 100%; height:100%; background: no-repeat center; background-size: auto 50%;}
.p7_b1{ margin-left: -125px; margin-top: -206px;}
.p7_b2{ margin-left: -10px; margin-top: -193px;}
.p7_b3{ margin-left: -55px; margin-top: -150px; width: 70px; height: 21px;}
.p7_b4{ margin-left: 50px; margin-top: -145px;}
.p7_b5{ margin-left: -135px; margin-top: -110px;}
.p7_b6{ margin-left: 15px; margin-top: -110px; width: 100px; height: 28px;}
.p7_b1 .p7_t{ background-image: url(../img/p7_t1.png);}
.p7_b2 .p7_t{ background-image: url(../img/p7_t2.png);}
.p7_b3 .p7_t{ background-image: url(../img/p7_t3.png);}
.p7_b4 .p7_t{ background-image: url(../img/p7_t4.png);}
.p7_b5 .p7_t{ background-image: url(../img/p7_t5.png);}
.p7_b6 .p7_t{ background-image: url(../img/p7_t6.png);}
.p7_t1,.p7_t2,.p7_t3,.p7_t4{ position: absolute; left: 50%; top: 50%;}
.p7_t1{ margin: -63px 0 0 -130px;}
.p7_t2{ margin: -5px 0 0 -130px;}
.p7_t3{ margin: 17px 0 0 -130px;}
.p7_t4{ margin: 70px 0 0 -130px;}
/******************page8*******************/
#page8{background-image: url(../img/p5.jpg);}
.p8_point{width: 52px;height: 83px; left: 50%;top: 50%;margin-left: 90px;margin-top: -125px;display:none;}/* 20150715 changes */
.p8_i1,.p8_i2,.p8_i3{ position: absolute; width:264px; height: 98px; top: 50%; right: 50%;}
.p8_i1{ margin: -185px -205px 0 0; background: url(../img/p8_t1.png) no-repeat 45% 40%,url(../img/p8_i.png) no-repeat center; background-size: auto 15px,contain;}
.p8_i2{ margin: -80px -67px 0 0; background: url(../img/p8_t2.png) no-repeat 45% 40%,url(../img/p8_i.png) no-repeat center; background-size: auto 15px,contain;}
.p8_i3{ margin: 5px -182px 0 0; background: url(../img/p8_t3.png) no-repeat 45% 40%,url(../img/p8_i.png) no-repeat center; background-size: auto 15px,contain;}
.p8_mask{ position: fixed; left: 0; top:0; right:0; bottom: 0; background-color:rgba(0,0,0,0.8);}
.p8_tit{ position: absolute; left: 50%; top: 30%; width: 232px; height: 34px;margin-left: -116px;margin-top: -120px;}
/*
.p8_dia{ position: absolute; padding: 20px 15px;-webkit-box-sizing:border-box; box-sizing:border-box; left: 50%; top: 50%; width: 263px; height: 363px;margin-left: -132px;margin-top: -156px; background: url(../img/p8_dia.png) no-repeat center; background-size: contain; font-size: 14px; line-height: 22.5px; color: #40d2ef;}
.p8_btn{ position: absolute; left: 50%; top: 50%; width: 132px; height: 46px;margin-left: -66px;margin-top:145px;}
*/
/* 20150715 add */
.p8_dia{ position: absolute; padding:92px 15px 20px;-webkit-box-sizing:border-box; box-sizing:border-box; left: 50%; top: 50%; width: 263px; height: 363px;margin-left: -132px;margin-top: -156px; background: url(../img/p8_dia.png) no-repeat center; background-size: contain; font-size: 14px; line-height: 22.5px; color: #fff;}
.p8_btn{ position: absolute; left: 50%; top: 50%; width: 134px; height: 48px;margin-left: -67px;margin-top:145px;}
.diag_bg{ position: absolute;z-index:-1;left: 50%; top: 50%; width: 263px; height: 363px;margin-left: -132px;margin-top: -238px; background: url(../img/diag_bg.png) no-repeat center; background-size: contain; }
.diag_tit{position: absolute; left: 50%; top: 50%;width:185px;height:35px;margin-left:-92px;margin-top:-124px;}

/* 20150715 add  */

.p8_t{ position: absolute; left: 20px; right: 20px; top: 80%; margin-top: -29px; font-size: 14px; color: #44defd; text-align: center;}
/******************page9*******************/
#page9{background-image: url(../img/p6.jpg);}
.p9_l{ position: absolute; width:48px; height:28px; top: 50%; right: 50%; margin-right: -29px; margin-top: -15px; background-image: url(../img/logos.jpg); background-size:300% auto;}
.p9_l1{ background-position: -1% 1%;}
.p9_l2{background-position: -1% 12%;}
.p9_l3{background-position: 1% 22%;}
.p9_l4{background-position: 1% 33%;}
.p9_l5{background-position: 1% 43%;}
.p9_l6{background-position: 1% 55%;}
.p9_l7{background-position: 1% 66%;}
.p9_l8{background-position: 1% 77%;}
.p9_l9{background-position: 2% 88%;}
.p9_l10{background-position: -1% 99%;}

.p9_l11{background-position:48% 1%;}
.p9_l12{background-position:48% 12%;}
.p9_l13{background-position:48% 22%;}
.p9_l14{background-position:48% 33%;}
.p9_l15{background-position:48% 44%;}
.p9_l16{background-position:48% 55%;}
.p9_l17{background-position:48% 66%%;}
.p9_l18{background-position:48% 77%%;}
.p9_l19{background-position:48% 88%%;}
.p9_l20{background-position:48% 99%%;}

.p9_l21{background-position:98% 1%;}
.p9_l22{background-position:98% 12%;}
.p9_l23{background-position:98% 22%;}
.p9_l24{background-position:98% 33%;}
.p9_l25{background-position:98% 44%;}
.p9_l26{background-position:98% 55%;}
.p9_l27{background-position:98% 66%;}
.p9_l28{background-position:98% 77%;}
.p9_l29{background-position:98% 88%;}
.p9_l30{background-position:98% 99%;}



.p9_l1.active{ -webkit-transform:translate(20px,-20px) scale(1.2)!important;transform:translate(20px,-20px) scale(1.2)!important;}
.p9_l2.active{ -webkit-transform:translate(-5px,-70px) scale(1.3)!important;transform:translate(-5px,-70px) scale(1.3)!important; }
.p9_l3.active{ -webkit-transform:translate(55px,60px) scale(1.7)!important;transform:translate(55px,60px) scale(1.7)!important; }
.p9_l4.active{ -webkit-transform:translate(-110px,20px) scale(1.8)!important;transform:translate(-110px,20px) scale(1.8)!important; }
.p9_l5.active{ -webkit-transform:translate(95px,-80px) scale(1.6)!important;transform:translate(95px,-80px) scale(1.6)!important; }
.p9_l6.active{ -webkit-transform:translate(-80px,90px) scale(1.2)!important;transform:translate(-80px,90px) scale(1.2)!important; }
.p9_l7.active{ -webkit-transform:translate(-60px,40px) scale(1.4)!important;transform:translate(-60px,40px) scale(1.4)!important; }
.p9_l8.active{ -webkit-transform:translate(90px,120px) scale(1.5)!important;transform:translate(90px,120px) scale(1.5)!important; }
.p9_l9.active{ -webkit-transform:translate(100px,-18px) scale(2)!important;transform:translate(100px,-18px) scale(2)!important; }

.p9_l10.active{ -webkit-transform:translate(-95px,-38px) scale(2)!important;transform:translate(-95px,-38px) scale(2)!important; }
.p9_l11.active{ -webkit-transform:translate(14px,-137px) scale(2)!important;transform:translate(14px,-137px) scale(2)!important; }
.p9_l12.active{ -webkit-transform:translate(-7px,73px) scale(2)!important;transform:translate(-7px,73px) scale(2)!important; }
.p9_l13.active{ -webkit-transform:translate(93px,-167px) scale(1.2)!important;transform:translate(93px,-167px) scale(1.2)!important; }
.p9_l14.active{ -webkit-transform:translate(3px,19px) scale(2)!important;transform:translate(3px,19px) scale(2)!important; }

.p9_l15.active{ -webkit-transform:translate(-107px,-137px) scale(2)!important;transform:translate(-107px,-137px) scale(2)!important; }
.p9_l16.active{ -webkit-transform:translate(-91px,-96px) scale(2)!important;transform:translate(-91px,-96px) scale(2)!important; }
.p9_l17.active{ -webkit-transform:translate(5px,130px) scale(2)!important;transform:translate(5px,130px) scale(2)!important; }
.p9_l18.active{ -webkit-transform:translate(-93px,129px) scale(2)!important;transform:translate(-93px,129px) scale(2)!important; }

.p9_l19.active{ -webkit-transform:translate(-145px,66px) scale(2)!important;transform:translate(-145px,66px) scale(2)!important; }
.p9_l20.active{ -webkit-transform:translate(0px,-46px) scale(2)!important;transform:translate(0px,-46px) scale(2)!important; }
.p9_l21.active{ -webkit-transform:translate(90px,11px) scale(2)!important;transform:translate(90px,11px) scale(2)!important; }
.p9_l22.active{ -webkit-transform:translate(124px,69px) scale(2)!important;transform:translate(124px,69px) scale(2)!important; }

.p9_l23.active{ -webkit-transform:translate(-2px,-111px) scale(2)!important;transform:translate(-2px,-111px) scale(2)!important; }
.p9_l24.active{ -webkit-transform:translate(-125px,165px) scale(2)!important;transform:translate(-125px,165px) scale(2)!important; }
.p9_l25.active{ -webkit-transform:translate(-28px,165px) scale(2)!important;transform:translate(-28px,165px) scale(2)!important; }
.p9_l26.active{ -webkit-transform:translate(66px,160px) scale(2)!important;transform:translate(66px,160px) scale(2)!important; }

.p9_l27.active{ -webkit-transform:translate(136px,139px) scale(2)!important;transform:translate(136px,139px) scale(2)!important; }
.p9_l28.active{ -webkit-transform:translate(-71px,1px) scale(1.5)!important;transform:translate(-71px,1px) scale(1.5)!important; }
.p9_l29.active{ -webkit-transform:translate(129px,-48px) scale(2)!important;transform:translate(129px,-48px) scale(2)!important; }
.p9_l30.active{ -webkit-transform:translate(103px,-123px) scale(2)!important;transform:translate(103px,-123px) scale(2)!important; }

/******************page10*******************/
#page10{background-image: url(../img/p4.jpg); color: #40d2ef;}
.p10_logo{ left: 50%; top: 50%;width: 136px; height: 61px; margin: -170px 0 0 -68px;}

/*.p10_t{ left: 50%; top: 50%;width: 283px; height: 101px; margin: -80px 0 0 -142px;}*/

.p10_t{ left: 50%; top: 50%;width: 283px; height: 101px; margin: -69px 0 0 -142px;}

.p10_btn{ position: absolute; left: 50%; top: 80%;width: 272px; height: 39px; font-size: 16px; line-height: 39px; margin: -40px 0 0 -136px; text-align: center; background: url(../img/p10_btn.png); background-size: 100% 100%;}
.p10_btn:before{ content: "联系我们：";color: #d4d4d4;}
.pow{ width:170px; height:34px;left: 50%; bottom: 10px; margin-left: -85px;}